@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background-color: hsl(0, 0%, 97%);
	--heading-text-color: hsl(0, 0%, 10%);
	--normal-text-color: hsl(0, 0%, 10%);
	--accent-color:  hsl(340, 100%, 50%);
	--button-normal-color: grey;

	--font-family: "Azeret Mono";
}


html {
	padding: 2rem;

	background-color: var(--background-color);
}

h1 {
	font-family: var(--font-family);

	color: var(--heading-text-color);
}

h3 {
	font-family: var(--font-family);

	color: var(--heading-text-color);
}

p {
	font-family: var(--font-family);
	font-weight: 300;
	color: var(--normal-text-color);
}


#subtitle {
	font-family: var(--font-family);
	font-weight: 500;

	color: hsl(0, 0%, 45%);
}

.projects-container {
	/*border: 0.1rem solid blue;*/
	
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
	align-content: center;
	justify-content: center;
	justify-self: center;
}

.project-entry {
	/*border: 0.1rem solid red;*/
	
	padding: 1rem;
	margin: 0.2rem;
	text-align: left;
	flex: 0 0 calc(25%)
}

.cover-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: calc(100%);
	border-radius: 1rem;
}

.footer-navigation {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}

.footer-navigation a {
	border-radius: 0.5rem;
	padding: 0.6rem;

	color: var(--button-normal-color);
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.3s;
}

.footer-navigation a:hover {
	color: var(--accent-color);
}

footer {
	justify-items: center;
}