@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--background-color: hsl(0, 0%, 97%);
	--heading-text-color: hsl(0, 0%, 10%);
	--normal-text-color: hsl(0, 0%, 10%);
	--accent-color:  hsl(340, 100%, 50%);
	--button-normal-color: grey;
	--terrain-color: hsl(0, 0%, 40%);

	--font-family: "Azeret Mono", monospace;
	--meta-tag-font-family: "IBM Plex Mono", monospace;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	padding: 2rem;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--background-color);
}

html.dark {
	--background-color: hsl(0, 0%, 3%);
	--heading-text-color: hsl(0, 0%, 90%);
	--normal-text-color: hsl(0, 0%, 90%);
	--accent-color:  hsl(340, 100%, 50%);
	--button-normal-color: grey;
	--terrain-color: hsl(0, 0%, 60%);
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
	min-height: 500px;
}

header {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	position: relative;
	overflow: hidden;
	flex: 1;
	
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	justify-items: center;
	align-items: center;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

main > *:not(#terrain) {
	position: relative;
	z-index: 1;
}

footer {
	display: flex;
	justify-content: space-between;

	flex-shrink: 0;
}

h1 {
	font-family: var(--font-family);
	
	color: var(--heading-text-color);
}

h3 {
	font-family: var(--font-family);
	
	color: var(--heading-text-color);
}

p {
	font-family: var(--font-family);
	font-weight: 300;
	color: var(--normal-text-color);
}

.switch {
	background: none;
	border: none;
	cursor: pointer;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.6rem;
	
	color: var(--button-normal-color);
	transition: color 0.3s;
}

.switch:hover {
	color: var(--accent-color);
}

.projects-container {
	/*
	border: 0.1rem solid Sblue;
	*/
	
	max-height: 100%;
	max-width: 90%;
	
    display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
    gap: 10px;
	
	justify-content: center;
	justify-self: center;
	justify-items: center;
	align-content: center;
	
	min-height: 0;
	flex: 1;
}

html.interactive .projects-container {
	display: none;
}

.project-entry {
	/*
	border: 0.1rem solid green;
	*/
	
	padding: 1rem;
	margin: 0.2rem;
	width: 60%;
	
	text-align: left;
	font-size: 0.75cqi;

	max-height: 60%;
}

.project-entry .cover-image {
	display: block;
	width: 100%;
	border-radius: 1rem;
}

.project-entry .description {
	margin-top: 0.1rem;
}

.footer-navigation {
	display: flex;
	gap: 0.5rem;
	justify-content: right;
}

.footer-navigation a {
	padding: 0.6rem;
	
	color: var(--button-normal-color);
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.3s;
}

.footer-navigation a:hover {
	color: var(--accent-color);
}

.footer-navigation p:last-of-type a {
	padding-right: 0rem;
}

.tagged-title > * {
	line-height: 0.5;
}

.meta-tag {
	color: hsl(0, 0%, 50%);
	text-transform: uppercase;
	font-family: var(--meta-tag-font-family);
	font-weight: 400;
	font-size: 100%;
}

.meta-tag::before {
	content: "//";
	margin-left: 0rem;
}

#subtitle {
	font-weight: 500;
}

#switches {
	display: flex;
	gap: 0.5rem;
}


#terrain {
	position: absolute;
	inset: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#terrain:focus {
	outline: none;
}