@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background-color: hsl(0, 0%, 97%);
	--heading-text-color: hsl(0, 0%, 10%);
	--normal-text-color: hsl(0, 0%, 10%);
	--accent-color:  hsl(340, 100%, 50%);
	--button-normal-color: grey;

	--font-family: "Azeret Mono";
}


html {
	padding: 2rem;
	height: 100%;
	box-sizing: border-box;

	background-color: var(--background-color);
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	flex-shrink: 0;
}

main {
	position: relative;
	overflow: hidden;
	flex: 1;
	
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	justify-items: center;
	align-items: center;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

main > *:not(#terrain) {
	position: relative;
	z-index: 1;
}

footer {
	display: flex;
	justify-content: space-between;

	flex-shrink: 0;
}

h1 {
	font-family: var(--font-family);
	
	color: var(--heading-text-color);
}

h3 {
	font-family: var(--font-family);
	
	color: var(--heading-text-color);
}

p {
	font-family: var(--font-family);
	font-weight: 300;
	color: var(--normal-text-color);
}

.projects-container {
	/*
	border: 0.1rem solid Sblue;
	*/

	max-height: 100%;
	max-width: 90%;

    display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
    gap: 10px;

	justify-content: center;
	justify-self: center;
	justify-items: center;
	align-content: center;

	min-height: 0;
	flex: 1;
}

.project-entry {
	/*
	border: 0.1rem solid green;
	*/
	
	padding: 1rem;
	margin: 0.2rem;
	width: 60%;
	
	text-align: left;
	font-size: 0.75cqi;

	max-height: 60%;
}

.cover-image {
	display: block;
	width: 100%;
	border-radius: 1rem;
}

.footer-navigation {
	display: flex;
	gap: 0.5rem;
	justify-content: right;
}

.footer-navigation a {
	padding: 0.6rem;
	
	color: var(--button-normal-color);
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.3s;
}

.footer-navigation a:hover {
	color: var(--accent-color);
}

.footer-navigation p:last-of-type a {
	padding-right: 0rem;
}

#subtitle {
	font-family: var(--font-family);
	font-weight: 500;
	
	color: hsl(0, 0%, 45%);
}

#terrain {
	position: absolute;
	inset: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}