.switch {
	background: none;
	border: none;
	cursor: pointer;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.6rem;

	color: var(--button-normal-color);
	transition: color 0.3s;
}

.switch:hover {
	color: var(--accent-color);
}

html.pointer-locked .switch:hover {
	color: var(--button-normal-color);
}

.footer-navigation a {
	padding: 0.6rem;

	color: var(--button-normal-color);
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.3s;
}

.footer-navigation a:hover {
	color: var(--accent-color);
}

.footer-navigation p:last-of-type a {
	padding-right: 0;
}

.tagged-title > * {
	line-height: 0.5;
}

.meta-tag {
	color: hsl(0, 0%, 50%);
	text-transform: uppercase;
	font-family: var(--meta-tag-font-family);
	font-weight: 400;
	font-size: 100%;
}

.meta-tag::before {
	content: "//";
	margin-left: 0;
}

#subtitle {
	font-weight: 500;
}
