#game-ui {
	container-type: size;

	position: absolute;
	inset: 0;
	z-index: 1;
	padding: 1rem;

	border: 0.1rem dashed var(--hud-text-color);
}

html:not(.interactive) #game-ui {
	display: none;
}

#game-ui * {
	-webkit-user-select: none;
	user-select: none;
}

/* --- HUD --- */
#game-ui .hud {
	position: absolute;
	top: 15%;

	gap: 0.4cqmin;
}

.hud #hud-title {
	margin-top: 0;
	margin-bottom: 0;

	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 1.6cqmin;
	letter-spacing: 0.16cqmin;
}

.hud hr {
	border: none;
	border-top: 0.2cqmin dashed var(--hud-text-color);
}

.hud .hud-entry {
	display: grid;
	grid-template-columns: 10cqmin auto;

	margin-top: 0;
	margin-bottom: 0;

	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 1.6cqmin;
	letter-spacing: 0.16cqmin;
}

/* --- CONTROLS --- */
#controls-hint {
	position: absolute;
	left: 1rem;
	bottom: 1rem;

	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 1.6cqmin;
}

#game-ui .controls {
	container-type: inline-size;

	position: absolute;
	width: 50cqmin;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;

	pointer-events: none;

	opacity: 0;
	background:
		linear-gradient(
			135deg,
			color-mix(in srgb, var(--accent-color) 20%, transparent),
			transparent 50%
		),
		var(--background-color);
	border: none;
	outline: 0.1rem dashed var(--accent-color);
	font-family: var(--game-ui-font-family);
	color: var(--normal-text-color);

	transition: opacity 200ms ease;
}

#game-ui .controls.visible {
	opacity: 1;
}

.controls .content {
	margin: 5cqi;

	font-size: 4cqi;

	display: flex;
	flex-direction: column;
	gap: 2cqi;
	z-index: 1;
}

.controls .title {
	margin-top: 0;
	margin-bottom: 0;

	color: var(--normal-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 6cqi;
	letter-spacing: 0.6cqi;
}

.controls hr {
	border: none;
	border-top: 0.1rem dashed var(--accent-color);
}

.controls .content .entry {
	display: flex;
	justify-content: space-between;

	margin-top: 0;
	margin-bottom: 0;

	color: var(--normal-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 5cqi;
	letter-spacing: 0.5cqi;
}

/* --- COMPASS --- */
#game-ui #compass {
	container-type: size;

	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translate(-50%, 0%);
	width: min(30%, 60cqmin);
	height: 12cqmin;

	overflow: hidden;
	pointer-events: none;

	mask-image: linear-gradient(
		to right,
		transparent,
		black 10%,
		black 90%,
		transparent
	);
}

#game-ui #compass-strip {
	position: absolute;
	top: 0;
	left: 50%;
	height: 90%;
}

.compass-marker {
	position: absolute;

	top: 60%;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: var(--game-ui-font-family);
}

.compass-tick {
	width: 1px;
	height: 12cqmin;

	background: gray;
}

.compass-tick-label {
	margin-top: 4.8cqmin;

	font-weight: normal;
	font-size: 9.6cqmin;
	color: gray;
}

.compass-label {
	margin-top: 4.8cqmin;
	height: 100%;

	font-size: 11.56cqmin;
	font-weight: bold;
	color: gray;
}

.compass-pointer {
	position: absolute;
	top: 0%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4.8cqmin;

	font-size: 19.2cqmin;
}

.compass-pointer-outer {
	position: relative;

	width: 24cqmin;
	height: 24cqmin;

	display: flex;
	align-items: center;
	justify-content: center;
}

.compass-pointer-inner {
	z-index: 1;

	position: absolute;
	width: 100%;
	height: 100%;

	--inner-color: color-mix(in hsl, var(--color), black 30%);
}

.compass-pointer-label {
	z-index: 2;

	position: absolute;

	color: hsl(0, 0%, 97%);
	font-family: var(--game-ui-font-family);
	font-size: 50%;
}

.compass-pointer-distance {
	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 50%;
	text-wrap-mode: nowrap;
	text-align: center;
}

#compass-center {
	position: absolute;

	left: 50%;
	top: 100%;

	width: 1px;
	height: 10%;

	color: gray;
	background-color: var(--accent-color);

	transform: translate(-50%, -100%);
}

/* --- CROSSHAIR --- */
#crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2cqmin;
	height: 2cqmin;
	background-color: var(--accent-color);

	clip-path: polygon(
		55% 0%,
		55% 45%,
		100% 45%,
		100% 55%,
		55% 55%,
		55% 100%,
		45% 100%,
		45% 55%,
		0% 55%,
		0% 45%,
		45% 45%,
		45% 0%
	);
}

#interact-label {
	position: absolute;
	top: calc(50% + 2rem);
	left: 50%;
	transform: translate(-50%, -50%);

	color: var(--accent-color);
	font-family: var(--game-ui-font-family);
	font-size: 1rem;

	opacity: 0;
}

#interact-label.visible {
	opacity: 1;
}

/* --- PROJECT CARD --- */
#game-ui .project-card {
	container-type: inline-size;

	position: absolute;
	width: 50cqmin;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;

	pointer-events: none;

	opacity: 0;
	background:
		linear-gradient(
			135deg,
			color-mix(in srgb, var(--color) 20%, transparent),
			transparent 50%
		),
		color-mix(in srgb, var(--background-color) 90%, transparent);
	outline: 0.1rem dashed var(--color);
	font-family: var(--game-ui-font-family);
	color: var(--normal-text-color);

	transition: opacity 200ms ease;
}

#game-ui .project-card.visible {
	opacity: 1;
	pointer-events: auto;
}

.project-card .content {
	margin: 10cqi;

	font-size: 4cqi;

	display: flex;
	flex-direction: column;
	gap: 2cqi;
	z-index: 1;
}

.project-card .close {
	position: absolute;
	width: 6cqi;
	height: 6cqi;
	top: 5cqi;
	left: calc(100% - 5cqi);
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;

	font-size: 8cqi;
	text-align: center;
	line-height: 0;

	border: none;
	color: var(--button-normal-color);
	background-color: transparent;

	transition: color 0.3s;
}

.project-card .close:hover {
	color: var(--color);
}

.project-card img {
	width: 100%;
	border: 0.1rem dashed var(--color);
}

.project-card .title {
	margin-top: 6cqi;
	font-weight: bold;
	font-size: 6cqi;
	font-family: var(--game-ui-font-family);
}

.project-card .meta-tag {
	font-family: var(--game-ui-font-family);
}

.project-card .description {
	font-family: var(--game-ui-font-family);
}

.project-card .learn {
	font-family: var(--game-ui-font-family);

	align-self: center;

	margin-top: 8cqi;

	color: var(--button-normal-color);
	text-decoration: none;
	font-size: 5cqi;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 0;

	transition: color 0.3s;
}

.project-card .learn:hover {
	color: var(--color);
}

#game {
	position: absolute;
	inset: 0;
	overflow: hidden;
}

/* Debug */
#game * .dsad {
	border: 0.1rem solid blue;
}

#terrain {
	position: absolute;
	inset: 0;
	z-index: 0;
}

#terrain:focus {
	outline: none;
}

#fps-counter {
	position: absolute;
	justify-self: right;
	top: 10px;
	right: 10px;

	color: gray;
	font-family: var(--font-family);
	font-size: 0.8rem;
	z-index: 2;
}
