#game-ui {
	container-type: size;

	position: absolute;
	inset: 0;
	z-index: 1;
	padding: 1rem;
}

html:not(.interactive) #game-ui{
	display: none;
}

#game-ui * {
	-webkit-user-select: none;
	user-select: none;
}

/* --- HUD --- */
#game-ui .hud{
	position: absolute;
	top: 15%;

	gap: 0.2cqi;
}

.hud #hud-title {
	margin-top: 0;
	margin-bottom: 0;

	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 0.8cqi;
	letter-spacing: 0.08cqi;
}

.hud hr {
	border: none;
	border-top: 0.1cqi dashed var(--hud-text-color);
}

.hud .hud-entry {
	display: grid;
	grid-template-columns: 5cqi auto;

	margin-top: 0;
	margin-bottom: 0;

	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 0.8cqi;
	letter-spacing: 0.08cqi;
}

/* --- CONTROLS --- */
#controls-hint {
	position: absolute;
	left: 1rem;
	bottom: 1rem;

	color: var(--hud-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 0.8cqi;
}

#game-ui .controls {
	container-type: inline-size;

	position: absolute;
	width: 25cqmax;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;

	pointer-events: none;

	opacity: 0;
	background:
        linear-gradient(
            135deg,
            color-mix(in srgb, var(--accent-color) 20%, transparent),
            transparent 50%
        ),
        var(--background-color);
	border: 0.1rem dashed var(--accent-color);
	font-family: var(--game-ui-font-family);
	color: var(--normal-text-color);

	transition: opacity 200ms ease;
}

#game-ui .controls.visible {
	opacity: 1;
}

.controls .content {
	margin: 5cqi;

	font-size: 4cqi;

	display: flex;
	flex-direction: column;
	gap: 2cqi;
	z-index: 1;
}

.controls .title {
	margin-top: 0;
	margin-bottom: 0;

	color: var(--normal-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 6cqi;
	letter-spacing: 0.6cqi;
}

.controls hr {
	border: none;
	border-top: 0.1rem dashed var(--accent-color);
}

.controls .content .entry {
	display: flex;
	justify-content: space-between;

	margin-top: 0;
	margin-bottom: 0;

	color: var(--normal-text-color);
	font-family: var(--game-ui-font-family);
	font-size: 5cqi;
	letter-spacing: 0.5cqi;
}

/* --- COMPASS --- */
#game-ui #compass {
	container-type: inline-size;

	position: absolute;
	top: 3cqi;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 4cqi;

	overflow: hidden;
	pointer-events: none;

	mask-image: linear-gradient(
		to right,
		transparent,
		black 10%,
		black 90%,
		transparent
	);
}

#game-ui #compass-strip {
	position: absolute;
	top: 0;
	left: 50%;
	height: 90%;
}

.compass-marker {
	position: absolute;

	top: 50%;

	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: var(--game-ui-font-family);
}

.compass-tick {
	width: 0.2cqi;
	height: 2.4cqi;

	background: gray;
}

.compass-tick-label {
	margin-top: 1cqi;

	font-weight: normal;
	font-size: 1.6cqi;
	color: gray;
}

.compass-label {
	margin-top: 1cqi;
	height: 100%;

	font-size: 2.4cqi;
	font-weight: bold;
	color: gray;
}

.compass-pointer {
	position: absolute;
	top: 0%;
	width: 4cqi;
	height: 4cqi;
	
	clip-path: polygon(
		50% 0%,
		100% 50%,
		50% 100%,
		0% 50%
	);

	font-size: 2.5cqi;

	/* --color is added through code. */
	background-color: var(--color);
}

.compass-pointer-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 70%;
	transform: translate(-50%, -50%);

	clip-path: polygon(
		50% 0%,
		100% 50%,
		50% 100%,
		0% 50%
	);

	/* --color is added through code. */
	background-color: color-mix(
		in hsl, 
		var(--color), 
		black 30%
	);
}

.compass-pointer-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: hsl(0, 0%, 97%);
	font-family: var(--game-ui-font-family);
	font-size: 50%;
}

#compass-center {
	position: absolute;

	left: 50%;
	top: 100%;

	width: 0.3cqi;
	height: 1.5cqi;

	color: gray;
	background-color: var(--accent-color);

	transform: translate(-50%, -100%);
}

/* --- CROSSHAIR --- */
#crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.3rem;
	height: 0.3rem;
	background-color: var(--accent-color);
}

/* --- PROJECT CARD --- */
#project-card {
	container-type: inline-size;

	position: absolute;
	width: 25cqmax;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;

	pointer-events: none;

	opacity: 0;
	background:
        linear-gradient(
            135deg,
            color-mix(in srgb, var(--color) 20%, transparent),
            transparent 50%
        ),
        var(--background-color);
	border: 0.1rem dashed var(--color);
	font-family: var(--game-ui-font-family);
	color: var(--normal-text-color);

	transition: opacity 200ms ease;
}

#project-card.visible {
	opacity: 1;
	pointer-events: auto;
}

#project-card .content{
	margin: 10cqi;

	font-size: 4cqi;

	display: flex;
	flex-direction: column;
	gap: 2cqi;
	z-index: 1;
}

#project-card .close {
	position: absolute;
	width: 6cqi;
	height: 6cqi;
	top: 5cqi;
	left: calc(100% - 5cqi);
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;

	font-size: 8cqi;
	text-align: center;
	line-height: 0;
	
	border: none;
	color: var(--button-normal-color);
	background-color: transparent;

	transition: color 0.3s;
}

#project-card .close:hover {
	color: var(--color);
}

#project-card img {
	width: 100%;
	border: 0.1rem dashed var(--color);
}

#project-card .title {
	margin-top: 6cqi;
	font-weight: bold;
	font-size: 6cqi;
	font-family: var(--game-ui-font-family);
}

#project-card .meta-tag {
	font-family: var(--game-ui-font-family);
}

#project-card .description {
	font-family: var(--game-ui-font-family);
}

#project-card .learn {
	font-family: var(--game-ui-font-family);

	align-self: center;

	margin-top: 8cqi;

	color: var(--button-normal-color);
	text-decoration: none;
	font-size: 5cqi;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 0;

	transition: color 0.3s;
}

#project-card .learn:hover {
	color: var(--color);
}

#game {
	position: absolute;
	inset: 0;
	overflow: hidden;
}

/* Debug */
#game * .sads {
	border: 0.1rem solid blue;
}

#terrain {
	position: absolute;
	inset: 0;
	z-index: 0;
}

#terrain:focus {
	outline: none;
}

#fps-counter {
	position: absolute;
	justify-self: right;
	top: 10px;
	right: 10px;

	color: gray;
	font-family: var(--font-family);
	font-size: 0.8rem;
	z-index: 2;
}