@import url("./variables.css");
@import url("./game-ui.css");

*, *::before, *::after {
	box-sizing: border-box;
}

*:focus-visible	 {
	outline: 0.15rem solid var(--accent-color);
}

html {
	padding: 2rem;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--background-color);
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
	min-height: 500px;
}

header {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	position: relative;
	overflow: hidden;
	flex: 1;
	
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-items: center;
	
	z-index: 10;
}

main > *:not(#game) {
	z-index: 10;
}

footer {
	display: flex;
	justify-content: space-between;
	
	flex-shrink: 0;
}

h1 {
	font-family: var(--font-family);
	
	color: var(--heading-text-color);
}

h3 {
	font-family: var(--font-family);
	
	color: var(--heading-text-color);
}

p {
	font-family: var(--font-family);
	font-weight: 300;
	color: var(--normal-text-color);
}

.switch {
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.6rem;
	
	color: var(--button-normal-color);
	transition: color 0.3s;
}

.switch:hover {
	color: var(--accent-color);
}

html.pointer-locked .switch:hover {
	color: var(--button-normal-color);
}

.projects-container {
	/*
	border: 0.1rem solid Sblue;
	*/
	
	max-height: 100%;
	max-width: 90%;
	
    display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
    gap: 10px;
	
	justify-content: center;
	justify-self: center;
	justify-items: center;
	align-content: center;
	
	min-height: 0;
	flex: 1;
}

html.interactive .projects-container {
	display: none;
}

.project-entry {
	/*
	border: 0.1rem solid green;
	*/
	
	padding: 1rem;
	margin: 0.2rem;
	width: 60%;
	
	text-align: left;
	font-size: 0.75cqi;

	max-height: 60%;
}

.project-entry .cover-image {
	display: block;
	width: 100%;
	border-radius: 1rem;
}

.project-entry .description {
	margin-top: 0.1rem;
}

.footer-navigation {
	display: flex;
	gap: 0.5rem;
	justify-content: right;
}

.footer-navigation a {
	padding: 0.6rem;
	
	color: var(--button-normal-color);
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.3s;
}

.footer-navigation a:hover {
	color: var(--accent-color);
}

.footer-navigation p:last-of-type a {
	padding-right: 0rem;
}

.tagged-title > * {
	line-height: 0.5;
}

.meta-tag {
	color: hsl(0, 0%, 50%);
	text-transform: uppercase;
	font-family: var(--meta-tag-font-family);
	font-weight: 400;
	font-size: 100%;
}

.meta-tag::before {
	content: "//";
	margin-left: 0rem;
}

#subtitle {
	font-weight: 500;
}

#switches {
	display: flex;
	gap: 0.5rem;
}

#game {
	position: absolute;
	inset: 0;
	overflow: hidden;
}

/* Debug */
#game * .sadsd {
	border: 0.1rem solid blue;
}

#terrain {
	position: absolute;
	inset: 0;
	z-index: 0;
}

#terrain:focus {
	outline: none;
}

#fps-counter {
	position: absolute;
	justify-self: right;
	top: 10px;
	right: 10px;

	color: gray;
	font-family: var(--font-family);
	font-size: 0.8rem;
	z-index: 2;
}