@import url("./variables.css");
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");

main {
	background-color: color-mix(in srgb, var(--color) 30%, transparent);
}

main .content {
	position: absolute;
	width: 75%;
	height: 100%;
	padding: 2cqmin;

	display: flex;
	flex-direction: column;

	background-color: var(--background-color);
	font-family: var(--font-family);
	font-size: 2cqmin;

	overflow-y: auto;
	scrollbar-color: var(--color) transparent;
	scrollbar-width: thin;
}

.content > * {
	width: min(60%, 800px);
	max-width: min(60%, 800px);
	margin-left: auto;
	margin-right: auto;
}

.content .media img,
.content .media iframe {
	width: 100%;
	align-self: center;
	aspect-ratio: 16/9;
	margin: 2rem 0;
}

.content .title {
	text-transform: uppercase;
	color: var(--normal-text-color);
}

.content a {
	position: static;
	align-self: center;
	padding: 1.2cqmin;
	margin-top: auto;
	width: auto;

	color: var(--button-normal-color);
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;
}

.content a:hover {
	color: var(--color);
}

.content hr {
	width: 100%;
	border: none;
	border-top: 0.2rem dashed var(--color);
}

.description p,
.technology p,
.features p {
	/* Helps with multiline strings contaning new-line characters */
	white-space: pre-line;
}

.content p {
	font-size: 2cqmin;
}
