.projects-container {
	max-height: 100%;
	max-width: 90%;

	width: 80%;
	height: 80%;

	display: grid;
	grid-template-columns: 30cqmin 30cqmin 30cqmin;
	grid-template-rows: 40cqmin 40cqmin;
	gap: 4cqmin;

	place-content: center;
	justify-self: center;
	justify-items: center;

	min-height: 0;
	flex: 1;
}

html.interactive .projects-container {
	display: none;
}

.projects-container .project-card {
	position: relative;
	container-type: inline-size;

	pointer-events: auto;
	width: 100%;
	height: auto;

	background:
		linear-gradient(
			135deg,
			color-mix(in srgb, var(--color) 20%, transparent),
			transparent 50%
		),
		color-mix(in srgb, var(--background-color) 90%, transparent);
	border: none;
	outline: 0.1rem dashed var(--color);
	font-family: var(--game-ui-font-family);
	color: var(--normal-text-color);
}

.projects-container .project-card .learn {
	font-family: var(--game-ui-font-family);

	position: absolute;
	bottom: 10cqi;

	color: var(--button-normal-color);
	text-decoration: none;
	font-size: 5cqi;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;

	transition: color 0.3s;
}

.projects-container .project-card .learn:focus {
	outline-color: var(--color);
}
