@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--background-color: hsl(0, 0%, 97%);
	--heading-text-color: hsl(0, 0%, 10%);
	--normal-text-color: hsl(0, 0%, 10%);
	--hud-text-color: gray;
	--accent-color:  hsl(340, 100%, 50%);
	--button-normal-color: gray;

	--terrain-color: hsl(0, 0%, 40%);
	--column-color: hsl(280, 100%, 50%);
	--project-card-background-color: hsla(0, 0%, 97%, 90%);
	--project-card-border-color: hsla(0, 0%, 3%, 90%);

	--font-family: "Azeret Mono", monospace;
	--meta-tag-font-family: "IBM Plex Mono", monospace;
	--game-ui-font-family: "Kode Mono", monospace;
}

html.dark {
	--background-color: hsl(0, 0%, 3%);
	--heading-text-color: hsl(0, 0%, 90%);
	--normal-text-color: hsl(0, 0%, 90%);
	--accent-color:  hsl(340, 100%, 50%);
	--button-normal-color: gray;

	--terrain-color: hsl(0, 0%, 60%);
	--project-card-background-color: hsla(0, 0%, 3%, 90%);
	--project-card-border-color: hsla(0, 0%, 97%, 90%);
}